 .u-section-1 {
  background-image: none;
  min-height: 812px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -15px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/beauty1.jpg");
  min-height: 827px;
  background-position: 72.04% 50%;
}

.u-section-1 .u-image-2 {
  min-height: 827px;
  background-image: url("images/bg2.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 0 109px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: -50px 49px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 2.1876em;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 49px 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6.125rem;
  margin: 20px 60px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -9px 142px 0 0;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  margin: 57px auto 0 63px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 693px;
  }

  .u-section-1 .u-image-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-2 {
    min-height: 607px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 6.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 49px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    min-height: 545px;
  }

  .u-section-1 .u-image-2 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 139px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1428px;
  }

  .u-section-1 .u-image-1 {
    min-height: 610px;
    order: 1;
  }

  .u-section-1 .u-image-2 {
    order: 0;
    min-height: 876px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 76px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-image-1 {
    min-height: 384px;
  }

  .u-section-1 .u-image-2 {
    min-height: 426px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 69px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 44px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 772px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  width: 764px;
  margin: 67px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 894px;
  margin: 20px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-block-5ea5-49 {
  border-style: dotted;
}

.u-block-5ea5-48 {
  border-style: dotted;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-2 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-4 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-5 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-2 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-5ea5-35 {
  background-image: none;
}

.u-block-5ea5-42 {
  padding: 10px 20px;
}

.u-block-5ea5-45 {
  padding: 10px 20px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 46px auto 44px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 344px;
    margin-top: 20px;
    margin-left: -2px;
    margin-right: -2px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 72px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 214px;
  margin: 8px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  min-height: 604px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 302px;
  background-image: url("images/7b4af05451e6f223b58bbed0f7e601338ae6ca2d4639855c45e996f3f4db9f9ceb669a85e9e96fee2c2096b01719b02c6214ae12b6c3bb01d835c4_1280.jpg");
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 302px;
  background-image: url("images/5919fed0-9290-0161-07e7-b4aac8e308ea.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 302px;
  background-image: url("images/-min.jpg");
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 302px;
  background-image: url("images/beautifulspaasianwomantouchingherfaceperfectfreshskinpurebeautymodel_50889114.jpg");
  background-position: 19.64% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 302px;
  background-image: url("images/setofcosmeticpaintbrushformakeup_12322061.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-6 {
  min-height: 302px;
  background-image: url("images/c5c053de3b67aef9dd25e745a5189ad6f51166b51ac53ce3174133843832b1e8bae847a59c7a53dac807acf17be4aad080c08c24fe72219b464817_1280.jpg");
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-7 {
  min-height: 302px;
  background-image: url("images/closeupoffeetspatherapyandmassage_5387615402.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-8 {
  min-height: 302px;
  background-image: url("images/fdrt-min.jpg");
}

.u-section-4 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 498px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -93px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-2 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-3 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-4 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-5 {
    min-height: 249px;
  }

  .u-section-4 .u-image-6 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-7 {
    min-height: 249px;
  }

  .u-section-4 .u-image-8 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1524px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -104px;
  }

  .u-section-4 .u-image-1 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-image-2 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-image-3 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-image-5 {
    order: 1;
    min-height: 381px;
  }

  .u-section-4 .u-image-6 {
    order: 0;
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-7 {
    order: 2;
    min-height: 381px;
  }

  .u-section-4 .u-image-8 {
    order: 3;
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 3432px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -203px;
  }

  .u-section-4 .u-image-1 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-image-2 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-image-3 {
    min-height: 572px;
  }

  .u-section-4 .u-image-4 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-image-5 {
    min-height: 572px;
  }

  .u-section-4 .u-image-6 {
    min-height: 572px;
  }

  .u-section-4 .u-image-7 {
    order: 3;
    min-height: 572px;
  }

  .u-section-4 .u-image-8 {
    order: 2;
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2160px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -4px;
  }

  .u-section-4 .u-image-1 {
    order: 1;
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-2 {
    order: 1;
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-3 {
    order: 2;
    min-height: 360px;
  }

  .u-section-4 .u-image-4 {
    order: 3;
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-5 {
    min-height: 360px;
  }

  .u-section-4 .u-image-6 {
    min-height: 360px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-4 .u-image-7 {
    min-height: 360px;
  }

  .u-section-4 .u-image-8 {
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 76px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto;
  padding: 8px 27px 8px 26px;
}.u-section-6 .u-sheet-1 {
  min-height: 690px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 26px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-6 .u-shape-1 {
  height: 593px;
  width: 394px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-shape-2 {
  height: 541px;
  width: 462px;
  background-image: none;
  margin: -505px 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 417px;
  height: 519px;
  margin: -592px auto 65px 37px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 43px;
  padding-right: 51px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 178px 0 0;
}

.u-section-6 .u-line-1 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-shape-1 {
    width: 325px;
  }

  .u-section-6 .u-shape-2 {
    width: 381px;
  }

  .u-section-6 .u-image-1 {
    width: 344px;
    margin-left: 31px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 42px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-line-1 {
    width: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 51px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-6 .u-shape-1 {
    height: 530px;
    width: 290px;
  }

  .u-section-6 .u-shape-2 {
    height: 471px;
    width: 291px;
    margin-top: -442px;
  }

  .u-section-6 .u-image-1 {
    width: 296px;
    height: 452px;
    margin-top: -516px;
    margin-left: 27px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 32px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 55px;
  }

  .u-section-6 .u-line-1 {
    width: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-6 .u-shape-1 {
    height: 593px;
    width: 361px;
  }

  .u-section-6 .u-shape-2 {
    height: 541px;
    width: 425px;
    margin-top: -505px;
  }

  .u-section-6 .u-image-1 {
    width: 366px;
    height: 519px;
    margin-top: -592px;
    margin-bottom: 73px;
    margin-left: 52px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 24px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 58px;
  }

  .u-section-6 .u-line-1 {
    width: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-6 .u-shape-1 {
    height: 497px;
    width: 247px;
  }

  .u-section-6 .u-shape-2 {
    height: 445px;
    width: 229px;
    margin-top: -409px;
  }

  .u-section-6 .u-image-1 {
    width: 287px;
    height: 415px;
    margin: -496px 15px 83px auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 178px;
  }

  .u-section-6 .u-line-1 {
    width: 27px;
  }
} .u-section-7 {
  min-height: 641px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/b1.jpg");
  min-height: 641px;
  background-position: 100% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/bg3.jpg");
  min-height: 641px;
  background-position: 0% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 56px;
  padding-right: 87px;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 127px 0 0;
}

.u-section-7 .u-line-1 {
  width: 47px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px 381px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 98px auto 0 40px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 537px;
  }

  .u-section-7 .u-image-1 {
    min-height: 537px;
  }

  .u-section-7 .u-image-2 {
    min-height: 529px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 46px;
    padding-right: 71px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 55px;
  }

  .u-section-7 .u-line-1 {
    width: 39px;
    margin-right: 314px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 523px;
  }

  .u-section-7 .u-image-1 {
    min-height: 523px;
  }

  .u-section-7 .u-image-2 {
    min-height: 405px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 55px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-7 .u-line-1 {
    width: 30px;
    margin-right: 241px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 641px;
  }

  .u-section-7 .u-image-1 {
    min-height: 641px;
  }

  .u-section-7 .u-image-2 {
    min-height: 701px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 48px;
    padding-right: 51px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-7 .u-line-1 {
    width: 28px;
    margin-right: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    min-height: 462px;
  }

  .u-section-7 .u-image-2 {
    min-height: 502px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 53px;
    padding-right: 52px;
  }

  .u-section-7 .u-line-1 {
    width: 24px;
    margin-right: 114px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 39px;
    margin-left: 19px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 487px;
}

.u-section-8 .u-group-1 {
  min-height: 90px;
  margin: 4px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  margin: 10px 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 30px auto 4px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 389px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 25px;
}

.u-section-8 .u-icon-1 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-8 .u-text-2 {
  margin: -50px 30px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 389px;
  background-image: none;
}

.u-section-8 .u-icon-2 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-8 .u-text-3 {
  margin: -50px 30px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 389px;
  background-image: none;
}

.u-section-8 .u-icon-3 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-8 .u-text-4 {
  margin: -50px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 25px;
    margin-bottom: 32px;
    margin-left: 1px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 19px;
    margin-bottom: 32px;
    margin-left: 25px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 410px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: 0;
    margin-left: 19px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-bottom: 19px;
    margin-left: 38px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-8 .u-text-3 {
    margin-right: -1px;
    margin-bottom: 51px;
    margin-left: 19px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 525px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-bottom: 51px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: initial;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
    width: 483px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-8 .u-text-3 {
    margin-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
    width: 512px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 0;
    width: 512px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-8 .u-group-1 {
    min-height: 98px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    width: 304px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    width: 322px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 389px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    width: 322px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/sx.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 811px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 105px auto 27px 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/girlinawellnesscenter_10981.jpg");
  min-height: 601px;
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 601px;
  background-image: none;
}

.u-section-9 .u-group-1 {
  width: 471px;
  min-height: 500px;
  background-image: none;
  margin: 51px auto;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-9 .u-line-1 {
  width: 51px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 523px;
    background-position: 73.66% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-9 .u-group-1 {
    width: 388px;
    min-height: 426px;
    margin-top: 50px;
    margin-bottom: 26px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 24px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    margin-top: 40px;
  }

  .u-section-9 .u-line-1 {
    width: 42px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 506px;
    background-position: 84.05% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-9 .u-group-1 {
    width: 297px;
    min-height: 431px;
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-9 .u-line-1 {
    width: 32px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 66px;
    margin-bottom: 66px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 601px;
    background-position: 50% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-9 .u-group-1 {
    width: 468px;
    min-height: 500px;
    margin-top: 50px;
    margin-bottom: 51px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-9 .u-line-1 {
    width: 30px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 67px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 330px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 622px;
  }

  .u-section-9 .u-group-1 {
    width: 285px;
    min-height: 521px;
    margin-top: 51px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-9 .u-line-1 {
    width: 25px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 734px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 70px auto 46px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 618px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 43px;
  padding-right: 51px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  margin: 160px 0 0;
}

.u-section-10 .u-line-1 {
  width: 54px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px 365px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 67px auto 0 64px;
  padding: 8px 27px 8px 26px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 618px;
  background-image: none;
}

.u-section-10 .u-shape-1 {
  height: 479px;
  width: 479px;
  background-image: none;
  margin: 75px auto 0 0;
}

.u-section-10 .u-shape-2 {
  height: 453px;
  width: 462px;
  background-image: none;
  margin: -391px 0 0 auto;
}

.u-section-10 .u-image-1 {
  width: 525px;
  height: 503px;
  object-position: 80.55% 50%;
  background-position: 80.55% 50%;
  margin: -616px auto 0 51px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 42px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-line-1 {
    width: 45px;
    margin-right: 301px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 616px;
  }

  .u-section-10 .u-shape-1 {
    width: 395px;
  }

  .u-section-10 .u-shape-2 {
    width: 381px;
  }

  .u-section-10 .u-image-1 {
    width: 433px;
    margin-left: 42px;
    object-position: 50% 50%;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: -3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 32px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .u-section-10 .u-line-1 {
    width: 34px;
    margin-right: 231px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-10 .u-shape-1 {
    height: 340px;
    width: 302px;
  }

  .u-section-10 .u-shape-2 {
    height: 315px;
    width: 291px;
    margin-top: -252px;
  }

  .u-section-10 .u-image-1 {
    width: 344px;
    height: 356px;
    object-position: 76.72% 50%;
    background-position: 76.72% 50%;
    margin: -478px 20px 144px auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 24px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 55px;
  }

  .u-section-10 .u-line-1 {
    width: 32px;
    margin-right: 173px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-10 .u-shape-1 {
    height: 479px;
    width: 422px;
  }

  .u-section-10 .u-shape-2 {
    height: 453px;
    width: 422px;
    margin-top: -391px;
  }

  .u-section-10 .u-image-1 {
    width: 446px;
    height: 498px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: -616px;
    margin-right: 42px;
    margin-bottom: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 15px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 160px;
  }

  .u-section-10 .u-line-1 {
    width: 27px;
    margin-right: 109px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 42px;
    margin-left: 42px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 507px;
  }

  .u-section-10 .u-shape-1 {
    height: 390px;
    width: 238px;
  }

  .u-section-10 .u-shape-2 {
    height: 345px;
    width: 229px;
    margin-top: -302px;
  }

  .u-section-10 .u-image-1 {
    width: 280px;
    height: 390px;
    object-position: 69.67% 100%;
    background-position: 69.67% 100%;
    margin-top: -477px;
    margin-right: auto;
    margin-bottom: 87px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/eb2ed1ba-05cd-04e3-ecae-7d80d4432e34.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 933px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 762px;
  margin: 104px auto 104px 189px;
}

.u-section-11 .u-layout-cell-1 {
  background-image: none;
  min-height: 725px;
}

.u-section-11 .u-group-1 {
  width: 682px;
  min-height: 633px;
  background-image: none;
  margin: 40px auto 51px;
}

.u-section-11 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-11 .u-text-1 {
  margin: 50px 0 0 20px;
}

.u-section-11 .u-line-1 {
  width: 51px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0 67px;
}

.u-section-11 .u-form-1 {
  height: 308px;
  width: 549px;
  margin: 20px 55px 65px;
}

.u-section-11 .u-form-group-4 {
  text-align: left;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 628px;
    margin-left: 156px;
  }

  .u-section-11 .u-group-1 {
    width: 562px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-11 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-11 .u-line-1 {
    width: 42px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 55px;
  }

  .u-section-11 .u-form-1 {
    width: 453px;
    margin-right: 46px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-11 .u-group-1 {
    width: 643px;
    min-height: 697px;
    margin-top: 45px;
    margin-bottom: 46px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-11 .u-text-1 {
    margin-top: 60px;
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-11 .u-line-1 {
    width: 32px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 28px;
    margin-left: 28px;
  }

  .u-section-11 .u-form-1 {
    width: 556px;
    margin: 50px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 104px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-group-1 {
    width: 462px;
    margin-top: 46px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 64px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-line-1 {
    width: 30px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-11 .u-form-1 {
    width: 407px;
    margin-top: 39px;
    margin-bottom: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-group-1 {
    min-height: 734px;
    width: 307px;
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-11 .u-line-1 {
    width: 25px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-11 .u-form-1 {
    width: 273px;
    margin: 20px 17px 70px;
  }
} .u-section-12 {
  min-height: 751px;
}

.u-section-12 .u-group-1 {
  background-image: none;
  width: 347px;
  min-height: 155px;
  margin: 573px calc(((100% - 1140px) / 2) + 36px) 23px auto;
}

.u-section-12 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-12 .u-text-1 {
  margin: 6px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-12 .u-text-3 {
  margin: 0;
}

.u-section-12 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 824px;
  }

  .u-section-12 .u-group-1 {
    width: 348px;
    min-height: 165px;
    margin-top: 636px;
    margin-right: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-12 .u-text-1 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 809px;
  }

  .u-section-12 .u-group-1 {
    width: 262px;
    min-height: 152px;
    margin-top: 598px;
    margin-right: calc(((100% - 540px) / 2) + 36px);
    margin-bottom: 59px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 815px;
  }

  .u-section-12 .u-group-1 {
    width: 264px;
    min-height: 141px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }
}